
/* Your CSS Code here. */
.moviePic{
	height:330px;
	width:270px;
	opacity:1;
	object-fit:contain
}
.movieDetail{
	position:absolute;
	top:0;
	width: 100%;
	text-align: center;
	font-size:24px;
	color: white;
}